@font-face {
    font-family: Geometric-Sans;
    src: url("/assets/fontes/GeometricaSans-Regular.ttf");
}


body {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
    margin: 0;
    font-family: Geometric-Sans;
}

/*! Configuraçao basica do painel (SUPERIOR) */
.painel_superior {
    display: flex;
    width: 100%;
    height: 15vh;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid white;
    position: relative;
}

.logo {
    width: 15vw;
}

/*! icones da primeira lista e mais para frente a padronizacao dos icones */
.icon {
    width: 40px;
}

.direita_painel_superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65vw;
    height: 100%;
}


.barra_pesquisa {
    position: relative;
}

.icon_pesquisa {
    width: 20px;
    position: absolute;
    top: 50%;
    right: 95%;
    transform: translateY(-50%);
}

#caixa_pesquisa {
    border-radius: 10px;
    width: 40vw;
    height: 4vh;
    padding-left: 0.1%;
}

.conteiner {
    display: flex;
    justify-content: space-between;
    height: 80%;
    width: 100%;
}

/*! Configuraçao basica do painel (LATERAL) */
.painel_lateral {
    display: flex;
    width: 25vw;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;

    background-color: rgb(0, 0, 0);
    color: white;
}

/*! somente para padronizar todos os tipos de listas */
ul {
    list-style: none;
    /*! Nenhum tipo de lista */
    padding: 0;
    /*! Tirar o espaçamento */

}

/*! Padronizaçao do espaçamento das lista que no site remete aos usuarios */
.listas {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/*! parte de cima do painel lateral*/
.parte_cima {
    display: flex;
    flex-direction: column;
}

/*! topicos da lista (li) */
.opcao {
    display: flex;
    align-items: center;
    margin-left: 14%;
    gap: 10px;
    padding: 10px;
    font-family: sans-serif;
}


/*? Padronizaçao do esoçamento do titulo das listas */
.titulo_lista {
    line-height: 1.2;
}

/*! parte de baixo do painel lateral */
.parte_meio {
    display: flex;
    justify-content: space-around;
}

/*! Esquerda da lista*/
.lista_esquerda {
    display: flex;
    flex-direction: column;
    align-items: start;
}

/*TODO  espaçamento bugado kkkkkkkk */
.lista_direita {
    display: flex;
    flex-direction: column;
    align-items: end;
}


.ver_mais {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.painel_perfil {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: aliceblue;
    width: 75vw;
    height: 20vh;
}

.info_perfil {
    display: flex;
    align-items: center;
    width: 100%;
    height: 25vh;
    justify-content: space-around;

    color: white;
    font-family: Geometric-Sans;
    background-color: #460000;
}

.agrupar_itens_infos {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.foto_perfil {
    width: 12vw;
    height: 11vh;

}

.infos_usuario {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80%;
}

.nome_usuario {
    margin-top: 0;
    margin-bottom: 0;
}
.data_cadastro {
    margin-top: 0;
    margin-bottom: 0;
}

.opcoes_info {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

.infos_usuario {
    list-style: none;
    width: 50%;
    height: 30%;
    gap: 0;
    padding: 0;
}

button {
    background-color: rgb(255, 255, 255);
    align-items: center;
    color: #1d2c3a;
    border-radius: 30cap;
    border-color: #1d2c3a;
}

.filmes_avaliados {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.filme1 {
    display: flex;
    background-color: #d3d3d3;
    border: 1px solid black;
    width: 95%;
    gap: 2%;
    padding: 1%
}

.icon_avaliaComp {
    margin-top: ;
    width: 5vw;
}

.capa_filme {
    width: 10vw;
}

.titulo {
    margin-left: 2%;
    font-weight: 598;
    font-size: 40px;
    margin-top: 2%;
    margin-bottom: 1%;
}

.titulo_filme {
    font-size: 200%;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0;

}

.linha_filme1 {
    background-color: rgb(139, 133, 133);
    width: 18vw;
    height: 1vh;
    margin-bottom: 2%;
}

.linha_filme2 {
    background-color: rgb(139, 133, 133);
    width: 20vw;
    height: 1vh;
    margin-bottom: 2%;
}

.linha_filme3 {
    background-color: rgb(139, 133, 133);
    width: 22vw;
    height: 1vh;
    margin-bottom: 2%;
}

.rodape {
    background-color: black;
    width: 100%;
    height: 15%;
}