@font-face {
    font-family: Geometric-Sans;
    src: url("/assets/fontes/GeometricaSans-Regular.ttf");
}

/*! BODY */
body {
    display: flex;
    /** Libera todos os elementos do site todo */
    flex-direction: column;
    /** organiza todos os elementos dentro do body em coluna  */
    background-color: white;
    /** pinta o fundo de branco */
    justify-content: space-around;
    margin: 0;
    font-family: Geometric-Sans;
}

/*! Configuraçao basica do painel (HEADER) */
.painel_superior {
    display: flex;
    width: 100%;
    height: 15vh;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid white;
}

/*! PADRONIZAR A LOGO  */
.logo {
    width: 15vw;
}

/*! icones da primeira lista e padronizacao dos icones */
.icon {
    width: 40px;
}

/*! Cofiguraçao dos icones da direita do HEADER */
.icone_header_direita {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65vw;
    height: 100%;
    gap: 100px;
}

/*! Tamanho icone sininho  */
.icon_notifica {
    width: 40px;
}

/*! Tamanho foto perfil que esta no painel superior direito  */
.user_img {
    width: 55px;
}

/*! Configuraçao posicionamento da Barra de pesquisa */
.barra_pesquisa {
    position: relative;
}

/*! configuracao do icone da barra de pesquisa */
.icon_pesquisa {
    width: 20px;
    position: absolute;
    top: 50%;
    right: 95%;
    transform: translateY(-50%);
}

/*! configuraçao da caixa de pesquisa (INPUT) */
#caixa_pesquisa {
    border-radius: 10px;
    width: 35vw;
    height: 4vh;
    padding-left: 6%;
}

/*! O todo abaixo do Header e acima do Footer  */
.conteiner {
    display: flex;
    justify-content: space-between;
    height: 85vh;
    width: 100%;
}

/*! Configuraçao basica do painel (LATERAL) */
.painel_lateral {
    display: flex;
    width: 20vw;
    height: 88vh;
    flex-direction: column;
    flex-shrink: 0;
    background-color: black;
    color: white;
    overflow-y: auto;
}

.perfil_todo {
    display: flex;
    flex-direction: column;
}

/*! somente para padronizar todos os tipos de listas */
ul {
    list-style: none;
    /*! Nenhum tipo de lista */
    padding: 0;
    /*! Tirar o espaçamento */

}

/*! Padronizaçao do espaçamento das lista que no site remete aos usuarios */
.listas {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/*! parte de cima do painel lateral*/
.parte_cima {
    display: flex;
    flex-direction: column;
}

/*! topicos da lista (li) */
.opcao {
    display: flex;
    align-items: center;
    margin-left: 14%;
    gap: 10px;
    padding: 10px;
    font-family: sans-serif;
}


/*? Padronizaçao do esoçamento do titulo das listas */
.titulo_lista {
    line-height: 1.2;
}

/*! parte de baixo do painel lateral */
.parte_meio {
    display: flex;
    justify-content: space-around;
}

/*! Esquerda da lista*/
.lista_esquerda {
    display: flex;
    flex-direction: column;
    align-items: start;
}

/*TODO  espaçamento bugado kkkkkkkk */
.lista_direita {
    display: flex;
    flex-direction: column;
    align-items: end;
}


.ver_mais {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.painel_perfil {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    background-color: aliceblue;
    overflow-y: auto;
    width: 75vw;
    height: 100%;
}

.info_perfil {
    display: flex;
    align-items: center;
    width: 100%;
    height: 35vh;
    justify-content: center;

    color: white;
    font-family: Geometric-Sans;
    background-color: #460000;
}

.agrupar_itens_infos {
    display: flex;
    justify-content: space-between;
    width: 50vw;
    height: 80%;
}

.foto_perfil {
    margin-top: 4%;
    width: 180px;
    height: 180px;

}

.esquerda {
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.direita {
    margin-top: 1%;
}


.nome_usuario {
    font-size: 180%;
    font-weight: ;
    margin-top: 0;
    margin-bottom: 0;
}

.data_cadastro {
    margin-top: 0;
    margin-bottom: 0;
    font-size: x-small;
    color: #9d9d9d;
}

/*! Secao para configuracao da lista de informacoes do pefil  */
.lista_info {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.lista_info_esquerda {
    display: flex;
    flex-direction: column;
}

.lista_info_direita {
    display: flex;
    flex-direction: column;
}

.opcoes_info {
    font-family: sans-serif;
    font-size: 0.8rem;
    list-style: none;
    margin-top: 0;
    text-align: center;
    padding: 4px;

    background-color: rgb(198, 184, 184);
    margin-bottom: 6%;
    border-radius: 3px;
    width: 110px;
    height: 50px;
    
}

.infos_usuario {
    display: flex;
    flex-direction: column;
    width: 50%;
    list-style: none;
    height: 30%;
    gap: 22px;
    padding: 0;
}


.editar_perfil {
    width: 100px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    align-items: baseline;
    color: #1d2c3a;
    border-radius: 30cap;
    border-color: #1d2c3a;
}

.filmes_avaliados {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.filme1 {
    display: flex;
    background-color: #d3d3d3;
    border: 1px solid black;
    width: 95%;
    gap: 2%;
    padding: 1%
}

.icon_avaliaComp {
    margin-top: ;
    width: 5vw;
}

.capa_filme {
    width: 10vw;
}

.titulo {
    margin-left: 2%;
    font-weight: 598;
    font-size: 30px;
    margin-top: 1%;
    margin-bottom: 0;
}

.titulo_filme {
    font-size: 200%;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0;

}

.linha_filme1 {
    background-color: rgb(139, 133, 133);
    width: 18vw;
    height: 1vh;
    margin-bottom: 2%;
}

.linha_filme2 {
    background-color: rgb(139, 133, 133);
    width: 20vw;
    height: 1vh;
    margin-bottom: 2%;
}

.linha_filme3 {
    background-color: rgb(139, 133, 133);
    width: 22vw;
    height: 1vh;
    margin-bottom: 2%;
}

.rodape {
    background-color: black;
    width: 100%;
    height: 15%;
}